@model IEnumerable<MyCartMVC.Models.AddBooking>

@{
    ViewData["Title"] = "ViewBooking";
}

<style>
     body {
       background-image:url(../images/Customer.jpg);
       height:100vh;
       overflow:hidden;
        background-size: cover;
        
    }
    
    .row{
     
       background-size:cover;
       
        display: flex;
        align-items: center;
        justify-content: center;
        }

           
    
</style>
<div class="row">

<h1>View Booking</h1>

<p>
  @*//  <a asp-action="AddBooking">Create New</a>*@
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveId)
            </th>
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                   @Html.DisplayFor(modelItem => item.ExecutiveId)
                   
               
                </td>
           @*<td>
               
                <a asp-action="EditBooking" asp-route-id="@item.OrderId">Edit</a>
           </td>*@
            
        </tr>
}

       @* <a asp-action="DeleteBooking" asp-controller="Customer"><input type="submit" class="btn btn-primary" value="Delete" /></a>*@
    </tbody>
</table>
</div>


                